<head>
  <title>tinycact.us tinycact.us tinycact.us tinycact.us tinycact.us tinycact.us tinycact.us tinycact.us tinycact.us tinycact.us tinycact.us tinycact.us </title>

  <!-- Include font -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">

  <!-- Include theme head -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/foundation.js"></script>

  <link rel="icon" href="{{ "/assets/img/favicon.png" | relative_url }}" />
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-22088480-1');
  </script>

</head>
