<div class="grid-x grid-y grid-margin-x grid-margin-y">
  <div class="small-12 splash">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" version="1.1" viewBox="0 0 1.813 3.031" x="0px" y="0px" fill-rule="evenodd" clip-rule="evenodd" class="svg-logo float-center">
      <g>
        <path d="M0.744 1.308l-0.365 0c-0.03,0 -0.054,-0.025 -0.054,-0.055l0 -0.487c0,-0.029 -0.013,-0.056 -0.032,-0.076 -0.02,-0.02 -0.047,-0.032 -0.077,-0.032 -0.029,0 -0.056,0.012 -0.076,0.032 -0.02,0.02 -0.032,0.047 -0.032,0.076l0 0.65c0,0.03 0.012,0.057 0.032,0.076l0 0c0.02,0.02 0.047,0.032 0.076,0.032l0.528 0c0.03,0 0.054,0.024 0.054,0.054l0 0.37 0.217 0 0 -0.693c0,-0.029 0.024,-0.054 0.054,-0.054l0.005 0.001 0.523 -0.002 0 -0.001c0.029,0 0.056,-0.012 0.076,-0.031l0 -0.001c0.02,-0.019 0.032,-0.046 0.032,-0.076l0 -0.649c0,-0.03 -0.012,-0.057 -0.032,-0.077 -0.02,-0.019 -0.047,-0.032 -0.076,-0.032 -0.03,0 -0.057,0.013 -0.077,0.032l-0.002 0.002c-0.018,0.02 -0.03,0.046 -0.03,0.075l0 0.487c0,0.03 -0.024,0.054 -0.054,0.054l-0.365 0c-0.03,0 -0.054,-0.024 -0.054,-0.054l0 -0.713c0,-0.029 -0.012,-0.056 -0.032,-0.076l-0.002 -0.002c-0.02,-0.019 -0.046,-0.03 -0.074,-0.03 -0.03,0 -0.057,0.012 -0.077,0.032 -0.02,0.02 -0.032,0.047 -0.032,0.076l0 1.037c0,0.03 -0.024,0.055 -0.054,0.055zm-0.487 0.64l0.433 0 0 -0.316 -0.474 0c-0.059,0 -0.113,-0.024 -0.152,-0.063l0 0c-0.04,-0.04 -0.064,-0.094 -0.064,-0.153l0 -0.65c0,-0.059 0.024,-0.113 0.064,-0.153 0.039,-0.039 0.093,-0.063 0.152,-0.063 0.06,0 0.114,0.024 0.153,0.063 0.04,0.04 0.064,0.094 0.064,0.153l0 0.433 0.257 0 0 -0.983c0,-0.059 0.024,-0.113 0.064,-0.152 0.039,-0.04 0.093,-0.064 0.153,-0.064 0.057,0 0.11,0.023 0.149,0.06l0.003 0.004c0.04,0.039 0.064,0.093 0.064,0.152l0 0.659 0.257 0 0 -0.433c0,-0.058 0.023,-0.111 0.061,-0.15l0.003 -0.003c0.039,-0.04 0.093,-0.064 0.153,-0.064 0.059,0 0.113,0.024 0.152,0.064 0.04,0.039 0.064,0.093 0.064,0.153l0 0.649c0,0.059 -0.024,0.114 -0.064,0.153l0 0c-0.039,0.039 -0.093,0.064 -0.152,0.064l0 -0.001 -0.474 0.002 0 0.639 0.433 0c0.03,0 0.054,0.025 0.054,0.054 0,0.004 0,0.007 -0.001,0.01l-0.108 0.971c-0.003,0.027 -0.026,0.048 -0.053,0.048l-1.083 0c-0.029,0 -0.052,-0.023 -0.054,-0.052l-0.108 -0.971c-0.003,-0.029 0.019,-0.056 0.048,-0.059l0.006 -0.001zm1.239 0.109l-0.427 0 -0.325 0 -0.427 0 0.097 0.865 0.985 0 0.097 -0.865z"></path>
      </g>
    </svg>
    <p>
      behold<br />
      a tiny<br />
      cactus
    </p>
  </div>
</div>
