.splash {
  height: 100vh;
  width: 100%;
  overflow: none;
  vertical-align: middle;

  .svg-logo {
    margin-top: 30vh;
    margin-bottom: 5px;
    height: 62px;
    width: auto;
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    image-rendering: optimizeQuality;

    path {
      fill: $dark-gray;
      fill-rule: nonzero;
    }
  }
  P {
    text-align: center;
    font-size: 75%;
    color: $dark-gray;
  }
}
