<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.liquid -%}

  <body>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        {{ content }}

      </div>
    </main>

  </body>
  <script src="assets/js/jquery.js"></script>
  <!-- <script src="assets  /js/what-input.js"></script> -->
  <script src="assets/js/foundation.js"></script>
  <script src="assets/js/app.js"></script>

  {% include google-analytics.liquid %}
</html>
